<a href="https://colab.research.google.com/github/Jas424/Winter-TTP/blob/main/warmup_session2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Using the Slice Syntax
1. Select a set of characters from “Hello World” to print
2. Print “Hello World” in reverse

In [17]:
## Random Text
txt = "Hello World" 
## Used indexing to output the 6th to 8th element in the string
print(txt[6:8])

Wo

In [18]:
## -1 means start at the end of the string and end at position 0, move with the step -1, negative one, which means one step backwards
txt = "Hello World"[::-1]

## Using input(function)


3. Print user input in reverse
4. Print user input in a sentence

In [19]:
## -1 means start at the end of the string and end at position 0, move with the step -1, negative one, which means one step backwards
s = input("Enter a string: ") 
print (s[::-1])

Enter a string: JAS
SAJ

In [11]:
Food = input("What will you be eating for lunch today? ") ## Asked user what he or she will be eating
Ans = "I will also be eating " + Food + "." ## The reponse prompts with the the user saying that they eat the same food entered in input. 
print(Ans)

What will you be eating for lunch today? pizza
I will also be eating pizza.

## Using the type() function
print out the type of three objects
5. Find the type of three objects

In [7]:
a = "LOL" ##string
b = 1 ##int
c = 2.0 ##float

print(type(a)) ## Type() funstion displays the type of objects
print(type(b))
print(type(c))

<class 'str'>
<class 'int'>
<class 'float'>

##Perform algebraic operations
6. Add two numbers together
7. Find the square root of 5 numbers
8. Find the whole number of 5 division problems

In [ ]:
(a)=10 
print(a)

10

In [ ]:
(b)=20
print(b)

20

In [ ]:
print(a*b) ## Multiplication

200

In [ ]:
(d)= 10000.  ## Random Values
(e)= 64
(f)= 81
(g)=144
(h)=169

In [ ]:
print(d ** 0.5). ## Square root of values
print(e ** 0.5)
print(f ** 0.5)
print(g ** 0.5)
print(h ** 0.5)

100.0
8.0
9.0
12.0
13.0

In [11]:
print(1000// 2)  ## Division of 5 problems but it inly displays the whole number
print(365 // 2) 
print(345 // 2) 
print(2221// 2) 
print(103 // 2)

500
182
172
1110
51

## Lists and Arrays
9. Create two lists and combine them
10. Create two arrays and combine them

In [ ]:
listone = [1, 2, 3]
listtwo = [4, 5, 6]

print(listone + listtwo) ## Two lists are being combined

[1, 2, 3, 4, 5, 6]

In [ ]:
cars = ["Ford", "Volvo", "BMW"]
colors = ["blue", "red", "green"]

print(colors + cars) ## Two arrays are being combined

['blue', 'red', 'green', 'Ford', 'Volvo', 'BMW']

## Converting Objects

11. Convert 5 objects from one type to another(ex. Int to Float)
12. Convert a lowercase string to an UPPERCASE STRING

In [13]:
x = 123 ## int
y = 78  ## int
z= 1.0  ## float
j= 9.0  ## float
h= 1175 ## int

a1 = float(x) ## int to float
a2 = float(y) ## int to float
a3 = int(z)   ## float to int
a4 = int(j)   ## float to int
a5 = float(h) ## int to float

print(a1)
print(a2)
print(a3)
print(a4)
print(a5)

123.0
78.0
1
9
1175.0

In [4]:
text = "jas"
print(text.upper()) ## Function makes lowercase string into on uppercase one

JAS

##Challange Section

13. Print out the word “Python”, one letter at a time
14. Print an object from a list of objects
15. BONUS!!! Get the version of Python being used

In [15]:
my_string = "Python" 

for letter in my_string: ##in this line I create a for loop to iterate through my list of letters

  print(letter)

P
y
t
h
o
n

In [8]:
print(my_string[2]) ## Used indexing to output the 2nd element in the string

t

In [16]:
import sys
print("Python version")
print(sys.version)
print("Version info.")
print(sys.version_info)

Python version
3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]
Version info.
sys.version_info(major=3, minor=7, micro=12, releaselevel='final', serial=0)